/* some default styles */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Set a background color and font styles */
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  padding: 0;
}

/* Header Section */
header {
  background-color: #26272b;
  color: #fff;
  padding: 10px 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo img {
  max-width: 30%; /* Make the logo responsive */
}

nav ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0; /* Remove margin from the last li element */
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s; /* Add a smooth color transition */
}

/* Change the link color on hover */
nav ul li a:hover {
  color: #ff5733; /* Change to your desired hover color */
}

/* Responsive Header Styles */
@media (max-width: 768px) {
  .header-content {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: flex-start; /* Align items to the left */
  }

  .logo {
    margin-bottom: 20px; /* Add space between logo and navigation links */
  }

  nav ul {
    text-align: left; /* Align links to the left */
  }

  nav ul li {
    display: block; /* Stack list items vertically */
    margin-bottom: 10px; /* Add space between list items */
  }
}





/* Slideshow Styles */

:root {
  --unhover-border-color: rgba(0, 0, 0, 0.5);
  --unhover-text-color: rgba(255, 255, 255, 0.5);
  --unhover-background-color: rgba(0, 0, 0, 0.5);

  --hover-border-color: rgba(0, 0, 0, 0.8);
  --hover-text-color: rgba(255, 255, 255, 0.8);
  --hover-background-color: rgba(0, 0, 0, 0.8);

  --transition-delay: 0.5s;
}

.carousel {
  position: relative;
  width: 100%;
  height: 90vh; /* Adjust to fit the entire viewport height */
}

.slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 5px;
  width: 80%; /* Adjust the content width */
  max-width: 400px; /* Limit maximum content width */
}

.slider-button {
  font-size: 1rem;
  padding: 5px 1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--unhover-background-color);
  border: 2px solid var(--unhover-border-color);
  color: var(--unhover-text-color);
  z-index: 10;
  cursor: pointer;
}

.slider-button-prev {
  left: 2rem;
}

.slider-button-next {
  right: 2rem;
}

.slider-button:hover,
.slider-button:focus {
  background-color: var(--hover-background-color);
  border: 2px solid var(--hover-border-color);
  color: var(--hover-text-color);
}

ul.slides {
  list-style-type: none;
  height: 100%;
  width: 100%;
}
li.slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  transition: opacity var(--transition-delay);
  transition-delay: var(--transition-delay);
 }

.slide > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

li.slide[data-active-slide] {
  opacity: 1;
}

.slides-circles {
  display: flex;
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.slides-circles > div {
  height: 20px;
  width: 20px;
  margin: 10px;
  border: 3px solid white;
  border-radius: 50%;
  transition: background-color var(--transition-delay);
  transition-delay: var(--transition-delay);
}

.slides-circles > div[data-active-slide] {
  background-color: white;
}

/* Style for navigation dots */
.dot-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

/* Active dot */
.active {
  background-color: #0099cc;
}


/* Section Styles (About Us, Projects, Products, Services, Team) */
section {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

h1, h2 {
  color: #333;
}

/* Align content within a section to the left */
.section-left {
  text-align: left;
}

/* Align content within a section to the right */
.section-right {
  text-align: right;
}



/* Rights Reserved Bar */
.rights-reserved {
  background-color: #0099cc;
  color: #fff;
  padding: 5px 0;
  font-size: 12px;
}


/* Additional styles for the new sections */
.product, .service ,.project {
  margin-bottom: 20px;
}

.product img, .service img , .project img {
  max-width: 100%;
  height: auto;
}

/* Team */

.team-description {
  background-color: #f5f5f5;
  padding: 20px;
  margin-bottom: 20px;
}

.team-description p {
  margin: 0 0 20px;
  font-size: 18px;
  line-height: 1.5;
}

.team-member {
  display: flex;
  margin-bottom: 20px;
}

.team-member img {
  max-width: 100px;
  height: auto;
  margin-right: 20px;
}

.member-details {
  flex: 1;
}

.member-details h2 {
  font-size: 24px;
  margin: 0 0 10px;
}

.member-details p {
  margin: 0;
}

/* About Us page */

/* Common styling for all sections */
.about-us-section,
.expertise-section,
.sustainability-section,
.innovation-section {
  background-color: #f8f8f8;
  padding: 30px 0;
  border-bottom: 1px solid #e0e0e0; /* Separate sections with a light border */
  text-align: center;
}

.about-us-section.container {
  max-width: 800px;
  margin: 0 auto; /* Center content within the container */
}

.about-us-section h1,.expertise-section h2,.sustainability-section h2,.innovation-section h2 {
  font-size: 36px; /* Larger font size for the main heading */
  color:#0099cc;
  margin-bottom: 20px;
}

.about-us-section p {
  font-size: 18px; /* Font size for content */
  color: #666;
  margin-bottom: 20px; /* More spacing between paragraphs */
  line-height: 1.6;
}



/*Contact Us Section*/
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Center vertically on the viewport */
  overflow: hidden; /* Hide any content that overflows the container */
}

/* Style the iframe */
.form-container iframe {
  width: 100%;
  height: 100%;
  border: none; /* Remove iframe border */
}

/* Footer Section */
.site-footer
{
background-color:#26272b;
padding:45px 0 20px;
font-size:15px;
line-height:24px;
color:#737373;
}
.site-footer hr
{
border-top-color:#bbb;
opacity:0.5
}
.site-footer hr.small
{
margin:20px 0
}
.site-footer h6
{
color:#fff;
font-size:16px;
text-transform:uppercase;
margin-top:5px;
letter-spacing:2px
}
.site-footer a
{
color:#737373;
}
.site-footer a:hover
{
color:#3366cc;
text-decoration:none;
}
.footer-links
{
padding-left:0;
list-style:none
}
.footer-links li
{
display:block
}
.footer-links a
{
color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
color:#3366cc;
text-decoration:none;
}
.footer-links.inline li
{
display:inline-block
}
.site-footer .social-icons
{
text-align:right
}
.site-footer .social-icons a
{
width:40px;
height:40px;
line-height:40px;
margin-left:6px;
margin-right:0;
border-radius:100%;
background-color:#33353d
}
.copyright-text
{
margin:0
}
@media (max-width:991px)
{
.site-footer [class^=col-]
{
  margin-bottom:30px
}
}
@media (max-width:767px)
{
.site-footer
{
  padding-bottom:0
}
.site-footer .copyright-text,.site-footer .social-icons
{
  text-align:center
}
}
.social-icons
{
padding-left:0;
margin-bottom:0;
list-style:none
}
.social-icons li
{
display:inline-block;
margin-bottom:4px
}
.social-icons li.title
{
margin-right:15px;
text-transform:uppercase;
color:#96a2b2;
font-weight:700;
font-size:13px
}
.social-icons a{
background-color:#eceeef;
color:#818a91;
font-size:16px;
display:inline-block;
line-height:44px;
width:44px;
height:44px;
text-align:center;
margin-right:8px;
border-radius:100%;
-webkit-transition:all .2s linear;
-o-transition:all .2s linear;
transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
color:#fff;
background-color:#29aafe
}
.social-icons.size-sm a
{
line-height:34px;
height:34px;
width:34px;
font-size:14px
}
.social-icons a.facebook:hover
{
background-color:#3b5998
}
.social-icons a.twitter:hover
{
background-color:#00aced
}
.social-icons a.linkedin:hover
{
background-color:#007bb6
}
.social-icons a.dribbble:hover
{
background-color:#ea4c89
}
@media (max-width:767px)
{
.social-icons li.title
{
  display:block;
  margin-right:0;
  font-weight:600
}
}
